#logo {
  background-size: auto;
  background:transparent url(../images/zeptojs-aerogelweight.png) no-repeat center right;
}

#pulse {
  display: none;
}

#beta {
  background-size: auto;
  background:transparent url(../images/beta-stripe.png) no-repeat;
}

#main_content {
  background-size:auto;
  background:#f7f9fa url(../images/box-bg.png) no-repeat bottom center;
}

#main_content .github a {
  background-size: auto;
  background:transparent url(../images/github.png) no-repeat;
}

#main_content .download a {
  background-size:auto;
  background:transparent url(../images/package.png) no-repeat center right;
}

#supported_platforms {
  background-size: auto;
  background:transparent url(../images/supported-platforms.png) no-repeat top right;
}